#{$all-buttons} {
	background: #e61b1e;
	color: #fff;
	font: 400 18px $myriad;
	padding: 14px;
	display: block;
	max-width: 160px;
	text-align: center;
	@include transition( 0.3s, ease, all );
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
	background: #292929;
	color: #fff;
}

#{$all-buttons-active} {
	background: #292929;
	color: #fff;
}
#{$all-text-inputs} {
	color: #9c9c9c;
	font: 400 16px / 24px $myriad;
	border: 1px solid #ed2024;
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
	border: 1px solid #111;
	color: #111;
	@include placeholder {
		color: #111;
	}
}

#{$all-text-inputs-active} {
	border: 1px solid #111;
	background: #ed2024;
	color: #111;
}
.select-component {
	position: relative;
	.md-arrow-drop-up {
		@include position(absolute, 3px 5px null null)
	}
	.md-arrow-drop-down {
		@include position(absolute, 10px 5px null null)
	}
}
select {
	background: #dedede;
	border-radius: 3px;
	padding-right: 40px;
	outline: none;
	&:active, &focus { outline: none; }
}
