/**
 * General Responsive Rules:
 */

@import "_devices";

// Fonts Vars:
$roboto: 'Roboto', arial, sans-serif;

// Colors vars:
$topSliderBG	: #4b5c70;
$grey			: #f3f5f5;
$green			: #1abc9c;
$dark-blue		: #4b5c70;
$facebookColor	: #354f88;
$linkedInColor	: #007bb6;
$googleColor	: #ce3e26;



@media #{$small-up} {
}
@media #{$small-only} {
}

@media #{$small-only} {}
@media #{$medium-up} {}
@media #{$medium-only} {}
@media #{$large-up} {}
@media #{$large-only} {}
@media #{$xlarge-up} {}
@media #{$xlarge-only} {}
@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}

/**
 * More Specific Responsive Rules:
 */

// Mobile Portrait:
@include mobile( portrait ) {
	header {
		background-size: 244%;
		background-position: top right;
		height: 537px;

		.header-top-bar {
			margin: 0;
			border-radius: 0;
		}

		.shop-now {
			width: 100%;
			left: 0;
			top: 250px;
			display: block;
			max-width: 100%;
			padding: 18px 0;
		}

		.left-off-canvas-toggle {
			font-size: 40px;
			position: absolute;
			z-index: 10;
			left: -19px;
			width: 60px;
			text-align: center;
			top: 10px;
		}
		.logo {
			margin-left: 22px;
			text-indent: -101%;
		}
		form {
			position: absolute;
			right: -126px;
			i {
				right: 3px;
				top: 2px;
			}
		}
	}
	header .header-slider {
		height: 438px;
	}
	header .header-slider h2 {
		font-size: 33px;
	}
	header .header-slider p {
		font-size: 16px;
	}
	header .shop-now {
		margin: 40px 0 0 0;
	}
	.home-tabs ul.tabs li.tab-title { float: left; }
	.home-tabs ul.tabs li.tab-title a { font-size: 14px; }
	.home-tabs .product-item {
		margin: 0 auto;
		display: block;
	}
	.home-bottom-articles p.article-meta .read-more {
		width: 81%;
	}


	.home-tabs ul.tabs .tab-title {
		float: none;
		width: 100%;
		text-align: center;
		&.active a { margin: 0; }
	}
	.article-section {
		.shop-now {
			width: 100%;
			display: block;
			max-width: 100%;
		}
	}
	.home-bottom-articles img {
		height: auto;
		width: 100%;
	}

	.single-page .page-title {
        background-size: 225%;
    }
	.alphabet-filter {
		margin-bottom: 32px;
	}
	.single-page ul.pagination.filters li a {
		padding: 6px 2.9px;
	}
	.single-page ul.pagination.filters li:hover, .single-page ul.pagination.filters li.current {
		@include transform( scale(2) );
	}

	.single-page.single-product .tabs-content .content {
		max-width: 100%;
		padding: 20px 58px 20px 20px;
	}

	.single-page.single-product .product-image img {
		max-width: 43%;
	}
	.article-list-item .article-image img {
		display: block;
		margin: 0 auto 30px auto;
		border-radius: 50%;
	}

	.as-table .as-table-row {
		padding: 0 42px;
	}

	.single-page.shopping-cart .single-product .product-image-cont img {
		width: 100%;
	}
	.single-page.shopping-cart .remove-product {
		top: 0;
		left: 16px;
	}
	.single-page.shopping-cart .single-product {
		position: relative;
		border: 1px solid rgb(187, 187, 187);
		padding: 30px 10px 10px 10px;
		transform: scale(0.9);
		border-radius: 4px;
	}

	// Responsive for Arabic:
	#ar-layout {

		.product-background-cover { opacity: 0.2; }

		header form {
			right: auto;
			left: -126px;
			top: 4px;
		}
		header .logo {
			margin-left: 0;
			margin-right: 22px;
			background-size: 81%;
			background-position: 14px 8px;
		}
		header .left-off-canvas-toggle {
			left: auto;
			right: -5px;
		}
		.single-page.profile-page .user-info .edit-profile {
			top: 0;
			left: 30px;
			right: auto;
		}
	}

}
