/**
 * TSS Styles:
 * @author Islam Magdy (i.magdy.m@gmail.com)
 */

/**
 * Libraries:
 */
@import '../../ui-deps/foundation/scss/foundation';
@import '../../ui-deps/bourbon/app/assets/stylesheets/bourbon';
@import '../../ui-deps/material-design-iconic-font/scss/material-design-iconic-font';
@import '../../ui-deps/font-awesome/scss/font-awesome';

/**
 * Dependancies:
 */
@import "vars";
@import "forms-buttons";

@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-rta1ap');
	src:url('../../fonts/icomoon.eot?#iefix-rta1ap') format('embedded-opentype'),
		url('../../fonts/icomoon.ttf?-rta1ap') format('truetype'),
		url('../../fonts/icomoon.woff?-rta1ap') format('woff'),
		url('../../fonts/icomoon.svg?-rta1ap#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
	content: "\e600";
}
.icon-cart:before {
	content: "\e601";
}

/**
 * Defautls:
 */
body {
	font-family: $myriad;
	color: #252525;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include image-rendering(optimizeSpeed);
}
@include selection {
	background-color: #e61b1e;
	color: #fff;
}

.truncate {
	@include ellipsis();
}
.shop-now {
	background: #e61b1e;
	color: #fff;
	font: 500 17px $myriad;
	padding: 8px 14px;
	display: block;
	max-width: 160px;
	text-align: center;
	@include transition( 0.3s, ease, all );
	i { font-size: 21px; }
	&:hover {
		background: #292929;
		color: #fff;
	}
}
span.error { @extend small.error; }


/**
 * Header (Both for home and for single pages)
 */
header {
	background: url(../../images/front/home-slide-1.png) 0 0 no-repeat;
	width: 100%;
	height: 622px;
	background-size: cover;
	padding-top: 20;
	@include transition( background-image, 0.5s, ease-in-out );
	.left-off-canvas-toggle {
		font-size: 40px;
		position: absolute;
		z-index: 10;
		left: -19px;
		width: 60px;
		text-align: center;
		top: 10px;
	}
	.header-top-bar {
		background: #fff;
		border-radius: 8px;
		height: 74px;
		width: 100%;
		margin: 20px 0 0 0;
		padding-top: 0;
		&.fixed {
			box-shadow: 0 0 5px #111;
			border-radius: 0;
			margin-top: 0;
		}
	}
	.logo {
		background: url(../../images/front/logo.png) no-repeat center center;
		background-size: contain;
		width: 136px;
		height: 55px;
		display: block;
		margin: 8px 0 0 0;
		@include hide-text;
	}
	.main-nav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				a {
					color: #252525;
					font: 500 14px $myriad;
					padding: 27px;
					display: block;
					@include transition(0.3s, ease, all);
					/* &:hover {
						background-color: #ed2024;
						color: #fff;
						border: none !important;
						padding-top: 27px !important;
					} */
					&.active, &:hover {
						color: #ed2024;
						padding-top: 22px;
						border-top: 5px solid;
					}
				}
			}
		}
	}
	form {
		margin-top: 19px;
		input[type='search'] {
			color: #9c9c9c;
			font: 400 16px / 24px $myriad;
			border: 1px solid #ed2024;
		}
	}
	.shopping-cart {
		@include position(absolute, 23px 110px null null);
		display: block;
		width: 31px;
		height: 80px;
		i {
			font-size: 25px;
			color: rgb(237, 32, 36);
			margin: 11px 0 0 0;
		}
	}
	.user-avatar {
		@include position(absolute, 20px 65px null null);
		width: 31px;
		height: 80px;

		img {
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}
	}
	.lang-switcher {
		@include position(absolute, 24px 14px null null);
		width: 31px;
		height: 80px;
	}
	.shop-now {
		margin: 20px 0 0 15px;
	}
	.header-slider {
		height: 528px;
		width: 100%;
		img {
			display: none;
		}
		h2 {
			font: 48px $bowly;
			color: rgb(237, 32, 36);
			margin: 29px 0 0 10px;
			max-width: 80%;
		}
		p {
			font-size: 24px;
			text-transform: uppercase;
			line-height: 24px;
			font-weight: 600;
			margin: 27px 0 0 16px;
			max-width: 80%;
		}
	}
	.swiper-container-horizontal>.swiper-pagination {
		left: 0;
		width: auto;
	}
	.swiper-pagination-bullet {
		background: #292929;
		width: 14px;
		height: 14px;
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		background: #e61b1e;
	}
}

/**
 * Homepage center features icons:
 */
.center-features {
	max-width: 740px;
	margin: 20px auto 40px auto;

	h3 {
		color: #252525;
		font: 400 35px $myriad;
		text-transform: uppercase;
		text-align: center;
		margin: 40px 0;
	}
	h4 {
		color: #252525;
		font: 600 22px $myriad;
		text-align: center;
		text-transform: uppercase;
	}
	p {
		color: #252525;
		font: 400 15px $myriad;
		text-align: center;
		//text-transform: uppercase;
	}
	.star-icon, .delivery-icon, .network-icon {
		background: #252525 url(../../images/front/star-icon.png) center center no-repeat;
		width: 65px;
		height: 65px;
		background-size: 66%;
		border-radius: 50%;
		padding: 40px;
		margin: 0 auto 10px auto;
	}
	.delivery-icon { background-image: url(../../images/front/delivery-icon.png); }
	.network-icon { background-image: url(../../images/front/network-icon.png); }
}

/**
 * Homepage tabs:
 */
.home-tabs {
	border-top: 2px solid #e61b1e;
	.tabs-content {
		margin-bottom: 0;
		& > .content {
			padding-bottom: 0;
			max-width: 920px;
			margin: 0 auto;
		}
	}
	ul.tabs {
		max-width: 610px;
		margin: 0 auto;
		li.tab-title {
			width: 50%;
			outline: none !important;
			a {
				font: 500 17px $myriad;
				text-transform: uppercase;
				text-align: center;
				padding: 20px;
			}
			&.active {
				a {
					background: #e61b1e;
					color: #fff;
					outline: none !important;
					//margin: 0 5px;
				}
			}
			&:hover { background: #e61b1e; color: #fff; outline: none !important; }
		}
	}
	.product-item {
		padding: 20px 50px;
		&:nth-child(even) {
			@include linear-gradient(0deg, #dcdcdc 0%, #fff 100%);
		}
		h4, p { text-align: center; }
		h4 {
			color: #252525;
			font: 600 19px $myriad;
			text-transform: uppercase;
			span { color: #e61b1e; }
		}
		p {
			color: #252525;
			font: 400 14px $myriad;
		}
		.shop-now { margin: 0 auto; }
	}
}

/**
 * Homepage Dark Banner Section:
 */
.dark-section {
	background: #252525 url(../../images/front/Layer-91.png) center center no-repeat;
	height: 392px;
  	background-size: cover;
	img {
		max-width: 320px;
		margin: 59px 0 0 0;
	}
	h3 {
		color: #dedede;
		font: 400 58px Impact, arial, sans-serif;
		margin-top: 89px;
		text-align: center;
	}
	p {
		font: 600 23px Roboto;
		color: #fff;
		text-align: center;
	}
	.shop-now { margin: 0 auto; }
}

/**
 * Homepage article section:
 */
.article-section {
	margin-top: 30px;
	h4 {
		color: #e61b1e;
		font: 600 31px/29px $myriad;
		text-transform: uppercase;
		margin-top: 80px;
	}
	p {
		font: 400 14px $myriad;
	}
}

/**
 * Homepage bottom articles:
 */
.home-bottom-articles {
	margin-top: 40px;
	margin-bottom: 40px;
	img {
		//height: 150px;
	}
	h5 {
		font: 600 18px $myriad;
		margin: 10px 0;
	}
	p {
		font: 400 15px $myriad;
		margin: 10px 0;
		&.article-meta {
			border-top: 1px solid #dcdcdc;
			.date-time { font: 400 12px $myriad; color: #b9b9b9; }
			.read-more {
				font: 600 12px $myriad; color: #ed2124;
				text-align: right;
				display: inline-block;
				width: 71%;
				&:hover {
					color: rgb(37, 37, 37);
				}
			}
		}
	}
}

/**
 * Footer:
 */
footer {
	background: #252525;
	.footer-slider {
		padding: 0;
		width: 100%;
		height: 130px;
		position: relative;
		overflow: hidden;
		margin-top: 41px;
		margin-bottom: 21px;
	}
	.footer-slider-img {
		height: 70px;
		background-size: 59% !important;
		width: 120px;
		padding: 0;
	}
	.row { position: relative; }
	.prev-nav, .next-nav {
		font-size: 41px;
		position: absolute;
		top: 83px;
		color: #727272;
		z-index: 10;
		cursor: pointer;
		&.swiper-button-disabled {
			  color: rgb(45, 45, 45);
		}
	}
	.prev-nav {
		left: -20px;
	}
	.next-nav {
		right: -20px;
	}
	.footer-newsletter {
		background: rgba(56, 56, 56, 0.42);
		margin: 30px 0;
	}
	h3 {
		color: #d9d9d9;
		font: 700 18px/19px $myriad;
		margin: 18px 0 0 0;
	}
	.envelope {
		color: #fff;
		font-size: 49px;
	}
	form {
		position: relative;
		margin: 20px 0 0 0;
		input {
			margin-bottom: 0;
		}
		i.md-chevron-right {
			color: rgb(217, 217, 217);
			background: rgb(146, 146, 146);
			display: block;
			width: 37px;
			height: 37px;
			@include position(absolute, 0 0 null null);
			font-size: 32px;
			line-height: 36px;
			text-align: center;
			cursor: pointer;
			@include transition(0.3s, ease, all);
			&:hover {
				background: rgb(217, 217, 217);
				color: rgb(146, 146, 146);
			}
		}
	}
	.social-links {
		.row {
			max-width: 230px;
			a {
				background: #fff;
				font-size: 32px;
				color: rgb(37, 37, 37);
				width: 40px;
				height: 40px;
				display: block;
				text-align: center;
				border-radius: 50%;
				line-height: 40px;
				@include transition(0.3s, ease, all);
				&:hover {
					color: #fff;
					background: #3C3C3C;
					//@include transform(rotate(360deg) scale(1.3));
				}
			}
		}
	}
	.footer-copy {
		padding-bottom: 20px;
		p {
			margin: 0;
			padding: 0;
			font: 400 14px $myriad;
			color: rgba(255, 255, 255, 0.5);
			&.footer-links {
				text-align: right;
			}
			a {
				color: #fff;
			}
		}
	}
}















@import "responsive";
