/**
 * Arabic:
 */
$text-direction: rtl;
// Libraries:
@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import '../../ui-deps/foundation/scss/foundation';
@import 'styles';

$ar_font: 'Droid Arabic Kufi', 'PT Sans', arial, sans-serif !important;

#ar-layout {
    font-family: $ar_font;
    header .main-nav ul li a,
    header form input[type='search'],
    header .lang-switcher,
    header .user-avatar { font-family: $ar_font; }
    header form i {
        right: auto;
        left: 22px;
    }
    header form input[type='search'] { line-height: 30px; }
    .home-bottom-articles p.article-meta .date-time { float: left; }
    footer form i.md-chevron-right {
        right: auto;
      left: 0;
      @include transform( rotate(180deg) );
    }
    .single-page .page-title h2 {
        padding: 3px 0 3px 15px;
    }
    .single-page.contact-us-page .form-group.has-error .help-block {
        right: auto;
        left: 0;
    }

}






@import "responsive";
