footer
	.row
		.footer-slider.swiper-container
			.swiper-wrapper
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Universal.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "BPI.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Brand-logos-IA-Black.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "gorillawearlogo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "GRENADE_LOGO1.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "inner-armor.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "l.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "BetanCourt.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Muscle-Tech.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "musclepharm_logo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "NOW_Foods_Logo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "twinlab.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Universal.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "BPI.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Brand-logos-IA-Black.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "gorillawearlogo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "GRENADE_LOGO1.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "inner-armor.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "l.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "BetanCourt.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Muscle-Tech.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "musclepharm_logo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "NOW_Foods_Logo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "twinlab.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Universal.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "BPI.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Brand-logos-IA-Black.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "gorillawearlogo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "GRENADE_LOGO1.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "inner-armor.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "l.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "BetanCourt.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "Muscle-Tech.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "musclepharm_logo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "NOW_Foods_Logo.png) center center no-repeat;" )
				.large-2.medium-2.small-12.columns.footer-slider-img.swiper-slide( style="background: url(" + imagesPath + "twinlab.png) center center no-repeat;" )
		.prev-nav
			i.md.md-chevron-left
		.next-nav
			i.md.md-chevron-right
	
	.footer-newsletter
		.row
			.large-1.medium-1.small-1.column.hide-for-small
				i.md.md-email.envelope
			.large-4.medium-4.small-12.column
				h3 Get the latest sales and new product announcements right to your inbox
			.large-7.medium-7.small-12.column
				form(action="/", id="newsletter-form-js", data-abide="ajax")
					i.md.md-chevron-right( onclick="TSS.newsletter();" )
					input( type="email", required, placeholder="Email address" )
					span.error Sorry, wrong email
	
	.social-links
		.row
			.large-3.medium-3.small-3.columns
				a(href="#")
					i.fa.fa-facebook
			.large-3.medium-3.small-3.columns
				a(href="#")
					i.fa.fa-twitter
			.large-3.medium-3.small-3.columns
				a(href="#")
					i.fa.fa-instagram
			.large-3.medium-3.small-3.columns
				a(href="#")
					i.fa.fa-pinterest

	.footer-copy.row
		hr
		.large-6.medium-6.small-12.columns
			p &copy; 2015 Digitree, All Rights Reserved
		.large-6.medium-6.small-12.columns
			p.footer-links 
				<a href="#">About Us</a> - <a href="#">Contact Us</a> - <a href="#">Terms Of Service</a> - <a href="#">Privacy Policy</a>

a.exit-off-canvas

script( src= packagesPath + "jquery/dist/jquery.min.js" )
script( src= packagesPath + "foundation/js/foundation.min.js" )
script( src= packagesPath + "swiper/dist/js/swiper.jquery.min.js" )
script( src= packagesPath + "skrollr/dist/skrollr.min.js" )
script( src= jsPath + "app.js" )
