header.single-header
	.row
		.header-top-bar
			.large-2.medium-2.small-2.columns.show-for-small
				i.md.md-more-vert.left-off-canvas-toggle
			.large-2.medium-2.small-2.columns
				a.logo(href='./') TSS
			.large-5.medium-5.small-5.columns.show-for-medium-up
				nav.main-nav
					ul
						li
							a.active(href='./') Home
						li
							a(href='./store') Store
						li
							a(href='./articles') Articles

			.large-3.medium-3.small-3.columns
				form(action='/products')
					i.md.md-search
					input(type='search', name='key', placeholder='Search')
			.large-2.medium-2.small-2.columns.show-for-medium-up
				.shopping-cart
					i.icon-cart
				.user-avatar
					img(src='http://lorempixel.com/50/50/people', alt='')
				.lang-switcher
					.language-switcher AR
	
	
	
	.drop-down#store-dropdown
		.row
			.large-4.medium-4.small-4.columns
				ul
					li
						a(href="#") Muscle Building
					li
						a(href="#") Weight Gaining
					li
						a(href="#") Pre-Workout
					li
						a(href="#") Weight Loss
					li
						a(href="#") Health &amp; Wellness
					li
						a(href="#") Accessories
					li
						a(href="#") Brands
			.large-8.medium-8.small-8.columns
				.large-4.medium-4.small-4.columns
					.large-2.medium-2.small-2.columns
						img(src= imagesPath + "archive-product.png", alt="")
					.large-2.medium-2.small-2.columns
						h3 Platinum
						p Platinum is an ultra-premium lean gainer engineered
						a.more-on-this-product(href="#") Find out more
