.page-header.navbar .hor-menu .navbar-nav > li.current .selected, .page-header.navbar .hor-menu .navbar-nav > li.active .selected {
    border-left: 5px solid transparent;
}
div.required label:after {
    content: " *";
    color: red;
}
.metronic-detail-view th{
    width: 20%;
}
th a{
    color: black;
}
.tools .collapse{
    display: block;
    visibility: visible;
}
#login-form .checkbox{
    margin-top: 4px; 
}
.user-status-1{
    background-color: #ecbc29;
}
.user-status-2{
    background-color: #45b6af;
}
.user-status-3{
    background-color: #ee5f5b;
}