.single-page .pagination.normalize li.disabled span{
    color: #252525;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    padding: 0.0625rem 0.625rem;
}
span.shop-now, span.shop-now:hover {background: #cccccc;}
a.at-cart, a.at-cart:hover {background: #252525;}
.single-page.shopping-cart .cart-quantity-cont i.disable, .single-page.shopping-cart .cart-quantity-cont i.disable:hover {background: #252525; cursor: default}
.cart-overflow{background: #f39997;}
a.cart-overflow{color: #ec111b;}

header .drop-down {-webkit-transition-duration: 0s !important;-moz-transition-duration: 0s !important;-o-transition-duration: 0s !important;transition-duration: 0s !important}
header .main-nav ul li a {font-family: 'Levenim MT' !important;text-transform:uppercase;font-weight:bold !important;font-size:14px !important;font-smooth:none;-webkit-font-smoothing:none}
header .user-avatar.usermenu-cont .usermenu-dropdown, header .user-avatar.login-cont .login-dropdown {top:-500px !important;width:auto !important;background-color:transparent !important;padding:0 !important}
html header .user-avatar.usermenu-cont .usermenu-dropdown.active {top:24px !important}
html header .user-avatar.login-cont .login-dropdown.active {top:22px !important}
header .user-avatar.usermenu-cont .usermenu-dropdownBox, header .user-avatar.login-cont .login-dropdownBox {width: 240px;background:#383838;padding:10px}
header .user-avatar.login-cont .login-dropdownBox {padding-top:30px}
header .user-avatar.usermenu-cont .usermenu-dropdownSpace, header .user-avatar.login-cont .login-dropdownSpace {height: 38px}
header .user-avatar.usermenu-cont .arrow-up, header .user-avatar.login-cont .arrow-up {top:28px !important}
header .user-avatar.login-cont .signup-btn {top:42px !important}